model_config_list: {
  config: {
    name:"recommender"
    base_path:"/models/recommender"
    model_platform: "tensorflow"
    model_version_policy:{
#      
# You can add all versions..
      all: {}
#
# or specific versions available
   #   specific: {
   #       versions: 2
   #       versions: 3
   #       versions: 1
   #     }
      }
#
# label the versions
# You can label versions yet to exist (e.g. future IF you have the command flag on the docker-compose file)    
# if you alter the labels whilst running you might still get an error about it not existing a restart will ignore the error with the above flag
# you dont have to label every version - you can use the version url in the notebook
version_labels {
   key: 'prod'
   value: 1
}
version_labels {
   key: 'test'
   value: 2
}
version_labels {
   key: 'uat'
   value: 3
}
version_labels {
   key: 'dev'
   value: 4
}
  },
}